# Build artifacts
build/
.Xil/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# Vivado
*.jou
*.log
*.str
vivado*.backup.*
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/

# Temporary files
*.tmp
*.temp