# Alchitry Pt v2 and Xilinx programming cables udev rules
# Install to /etc/udev/rules.d/ and run: sudo udevadm control --reload-rules && sudo udevadm trigger

# FTDI FT2232 (used by Alchitry boards)
SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6010", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6014", MODE="0666"

# Xilinx Platform Cable USB II
SUBSYSTEM=="usb", ATTR{idVendor}=="03fd", ATTR{idProduct}=="0008", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="03fd", ATTR{idProduct}=="0007", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="03fd", ATTR{idProduct}=="0009", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="03fd", ATTR{idProduct}=="000d", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="03fd", ATTR{idProduct}=="000f", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="03fd", ATTR{idProduct}=="0013", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="03fd", ATTR{idProduct}=="0015", MODE="0666"

# Xilinx JTAG cables
SUBSYSTEM=="usb", ATTR{idVendor}=="03fd", ATTR{idProduct}=="0017", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="03fd", ATTR{idProduct}=="001b", MODE="0666"

# Digilent cables (sometimes used with Xilinx)
SUBSYSTEM=="usb", ATTR{idVendor}=="1443", ATTR{idProduct}=="0007", MODE="0666"

# Generic FTDI devices (backup for unknown FTDI variants)
SUBSYSTEM=="usb", ATTR{idVendor}=="0403", MODE="0666"